<script>
export default {
  name: "BooleanConfig",
  data() {
    return {
      value: null,
      valid: true,
    };
  },
  props: {
    options: Object,
  },
  emits: ["update:value", "update:valid"],
  methods: {
    updateValue(newValue) {
      this.value = newValue;
      this.$emit("update:value", newValue);
      this.$emit("update:valid", true);
    },
    async emitInitial(value, valid) {
      // Ensure everything is mounted before sending initial signals
      // or they won't be caught
      await this.$nextTick();
      this.$emit("update:value", value);
      this.$emit("update:valid", valid);
    },
  },
  mounted() {
    if ("default" in this.options) {
      this.value = this.options.default;
    } else {
      this.value = false;
    }
    this.emitInitial(this.value, true);
  },
};
</script>

<template>
  <div>
    <label>{{ options.label }}</label>
    <input
      type="checkbox"
      :checked="value"
      @change="updateValue($event.target.checked)"
    />
  </div>
</template>

<style scoped></style>
