<script>
import ListConfig from "./ListConfig.vue";
import NumericConfig from "./NumericConfig.vue";
import TextConfig from "./TextConfig.vue";
import BooleanConfig from "./BooleanConfig.vue";
const base_url = import.meta.env.VITE_API_URL;
export default {
  name: "ConfigPanel",
  components: { ListConfig, NumericConfig, BooleanConfig, TextConfig },
  // Always working on a local copy of the config and emitting
  // it to stop race conditions in start up
  data() {
    return {
      count: 0,
      options: {},
      optionValid: [],
      localconf: {},
    };
  },
  props: {
    config: Object,
    valid: Boolean,
  },
  emits: ["update:config", "update:valid"],
  methods: {
    getConfigOptions() {
      fetch(base_url + "/get-config-options")
        .then((response) => response.json())
        .then(
          function (data) {
            this.writeEmptyConfig(data.options);
            this.options = data.options;
          }.bind(this),
        );
    },
    writeEmptyConfig(options) {
      let conf = {};
      for (const option of options) {
        let responseKey = option["response-key"];
        if (option["option-type"] == "list") {
          conf[responseKey] = [];
        } else {
          conf[responseKey] = null;
        }
        this.optionValid.push(false);
      }
      this.localconf = conf;
      this.emitInitial();
    },
    async emitInitial() {
      // Ensure everything is mounted before sending initial signals
      // or they won't be caught
      await this.$nextTick();
      this.$emit("update:config", this.localconf);
      this.$emit("update:valid", this.optionValid.every(Boolean));
    },
    updateConfig(responseKey, newValue) {
      // convert into json and back to deep-copy:
      this.localconf[responseKey] = newValue;
      this.$emit("update:config", this.localconf);
    },
    updateValid(index, valid) {
      this.optionValid[index] = valid;
      this.$emit("update:valid", this.optionValid.every(Boolean));
    },
  },
  mounted() {
    this.getConfigOptions();
  },
};
</script>

<template>
  <div class="card" id="config-card">
    <div v-for="(option, index) in options" v-bind:key="index">
      <ListConfig
        v-if="option['option-type'] == 'list'"
        :options="option"
        @update:value="updateConfig(option['response-key'], $event)"
        @update:valid="updateValid(index, $event)"
      />
      <NumericConfig
        v-if="option['option-type'] == 'numeric'"
        :options="option"
        @update:value="updateConfig(option['response-key'], $event)"
        @update:valid="updateValid(index, $event)"
      />
      <TextConfig
        v-if="option['option-type'] == 'text'"
        :options="option"
        @update:value="updateConfig(option['response-key'], $event)"
        @update:valid="updateValid(index, $event)"
      />
      <BooleanConfig
        v-if="option['option-type'] == 'boolean'"
        :options="option"
        @update:value="updateConfig(option['response-key'], $event)"
        @update:valid="updateValid(index, $event)"
      />
    </div>
  </div>
</template>

<style scoped></style>
