<script>
export default {
  name: "ListConfig",
  data() {
    return {
      drops: [],
    };
  },
  props: {
    options: Object,
  },
  emits: ["update:value", "update:valid"],
  computed: {
    hasLabel() {
      return "label" in this.options;
    },
    itemName() {
      if ("item-name" in this.options) {
        return this.options["item-name"];
      }
      return "Item";
    },
  },
  methods: {
    configAdd(index) {
      const dropInfo = this.options["add-options"][index];
      this.drops.push({
        name: dropInfo["display-name"],
        items: [{ value: "", name: "Nothing selected" }, ...dropInfo["items"]],
        value: null,
      });
    },
    updateValue(index, newValue) {
      this.drops[index].value = newValue;
      this.clearEmptyDrops();
      this.$emit(
        "update:value",
        this.drops.map(({ value }) => value),
      );
      this.$emit("update:valid", this.drops.length > 0);
    },
    clearEmptyDrops() {
      let rem = [];
      for (const [index, drop] of this.drops.entries()) {
        if (drop.value == null || drop.value.length === 0) {
          //add indexes to remove to start of array. So that we can
          //remove elements in reverse order. [unshift is an awful name]
          rem.unshift(index);
        }
      }
      for (const index of rem) {
        this.drops.splice(index, 1); // this removes the indexed dropdown
      }
    },
  },
};
</script>

<template>
  <div>
    <h5>{{ options.label }}</h5>
    <div class="row" v-for="(drop, indexD) in drops" v-bind:key="indexD">
      <label>{{ itemName }} {{ indexD + 1 }}: {{ drop.name }}</label>
      <select
        :value="drop.value"
        @change="updateValue(indexD, $event.target.value)"
      >
        <option
          v-for="(option, indexO) in drop.items"
          v-bind:key="indexO"
          :value="option.value"
        >
          {{ option.name }}
        </option>
      </select>
    </div>
    <div class="row">
      <button
        class="addButton"
        type="button"
        v-for="(option, indexA) in options['add-options']"
        v-bind:key="indexA"
        @click="configAdd(indexA)"
      >
        Add {{ option["display-name"] }}
      </button>
    </div>
    <hr />
  </div>
</template>

<style scoped>
.addButton {
  width: auto;
}
</style>
