<script>
export default {
  name: "NumericConfig",
  data() {
    return {
      value: null,
      valid: true,
    };
  },
  props: {
    options: Object,
  },
  emits: ["update:value", "update:valid"],
  methods: {
    updateValue(newValue) {
      if (this.isNumeric(newValue)) {
        this.$emit("update:value", Number(newValue));
        this.$emit("update:valid", true);
      } else {
        this.$emit("update:valid", false);
      }
    },
    isNumeric(string) {
      // Needed to use regex because isNaN method thinks an empty
      // string is a number. And because the input returns the number
      // as a string.
      return /^[+-]?\d+(\.\d+)?$/.test(string);
    },
    async emitInitial(value, valid) {
      // Ensure everything is mounted before sending initial signals
      // or they won't be caught
      await this.$nextTick();
      this.$emit("update:value", value);
      this.$emit("update:valid", valid);
    },
  },
  mounted() {
    if ("default" in this.options) {
      this.value = this.options.default;
    } else {
      this.value = 0;
    }
    this.emitInitial(this.value, true);
  },
};
</script>

<template>
  <div>
    <label>{{ options.label }}</label>
    <input
      type="number"
      :value="value"
      @change="updateValue($event.target.value)"
    />
  </div>
</template>

<style scoped></style>
