<script>
const base_url = import.meta.env.VITE_API_URL;
export default {
  name: "OutputPanel",
  data() {
    return {};
  },
  props: {
    uniqueName: String,
  },
  computed: {
    previewUrl: function () {
      return base_url + "/preview?config=" + this.uniqueName;
    },
  },
  methods: {
    downloadDocs() {
      var link = document.createElement("a");
      link.href = base_url + "/generated-docs?config=" + this.uniqueName;
      link.download = this.uniqueName + ".zip";
      link.click();
    },
    showDocs() {
      var link = document.createElement("a");
      link.href = "/cache/" + this.uniqueName + "_assembly_docs/index.html";
      link.target = "_blank";
      link.click();
    },
  },
};
</script>

<template>
  <div>
    <model-viewer
      id="model-viewer"
      style="width: 800px; height: 600px"
      alt="Current Configuration"
      shadow-intensity="1"
      camera-controls
      orientation="-90deg -90deg 45deg"
      :src="previewUrl"
    ></model-viewer>
    <button
      id="view-docs"
      type="button"
      class="button-primary"
      @click="showDocs"
    >
      VIEW MY DOCUMENTATION
    </button>
    <button
      id="download-docs"
      type="button"
      class="button-primary"
      @click="downloadDocs"
    >
      DOWNLOAD ALL DOCUMENTATION
    </button>
  </div>
</template>

<style scoped></style>
