<script>
export default {
  name: "SimpleSpinner",
  data() {
    return {};
  },
  props: {},
};
</script>

<template>
  <div id="spinner"></div>
</template>

<style scoped>
#spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #33c3f0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
