<script>
import ConfigPanel from "./components/ConfigPanel.vue";
import SimpleSpinner from "./components/SimpleSpinner.vue";
import OutputPanel from "./components/OutputPanel.vue";
const base_url = import.meta.env.VITE_API_URL;

export default {
  name: "App",
  components: { ConfigPanel, SimpleSpinner, OutputPanel },

  data() {
    return {
      img: base_url + "/logo",
      title: "",
      tagline: "",
      config: {},
      options: {},
      uniqueName: "",
      showSpinner: false,
      showOutput: false,
      configValid: false,
      warningMsg: "",
    };
  },
  mounted() {
    this.getUiData();
  },
  methods: {
    getUiData() {
      fetch(base_url + "/get-ui-data")
        .then((response) => response.json())
        .then(
          function (data) {
            this.title = data.title;
            this.tagline = data.tagline;
          }.bind(this),
        );
    },
    generate() {
      this.uniqueName = "";
      this.showSpinner = true;
      this.showOutput = false;
      this.warningMsg = "";
      fetch(base_url + "/orchestrate", {
        method: "POST",
        body: JSON.stringify({ config: this.config }),
      })
        .then((response) => response.json())
        .then(
          function (data) {
            if ("unique_name" in data) {
              this.uniqueName = data.unique_name;
              this.showSpinner = false;
              this.showOutput = true;
            } else {
              this.showSpinner = false;
              this.showOutput = false;
              this.warningMsg = data.failure;
            }
          }.bind(this),
        );
    },
  },
  computed: {
    showWarning() {
      return !(this.warningMsg === "");
    },
    fullWarning() {
      return "Problem encountered during generation: " + this.warningMsg;
    },
  },
};
</script>

<template>
  <div
    class="row"
    id="waning-banner"
    v-html="fullWarning"
    v-show="showWarning"
  ></div>
  <div class="row">
    <div class="six columns" style="margin-top: 5%">
      <div class="row">
        <img id="logo" :src="img" alt="Logo" />
        <h2 id="title">{{ title }}</h2>
        <h3 id="tagline">{{ tagline }}</h3>
      </div>
      <div id="config-container">
        <div class="row">
          <ConfigPanel v-model:config="config" v-model:valid="configValid" />
        </div>
        <div class="row">
          <button
            type="button"
            class="button-primary"
            id="generate-button"
            @click="generate"
            :disabled="configValid == false"
          >
            Generate
          </button>
        </div>
      </div>
    </div>
    <div class="six columns" style="margin-top: 5%">
      <SimpleSpinner v-show="showSpinner" />
      <OutputPanel :uniqueName="uniqueName" v-show="showOutput" />
    </div>
  </div>
</template>

<style scoped>
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#waning-banner {
  background-color: #ff5555;
  padding: 10px;
  font-weight: bold;
}

#generate-button {
  margin: 0px 0px 30px 30px;
}

#config-container {
  border: 1px #ccc solid;
  border-radius: 15px;
}
</style>
